.side {
    flex: 50%;
    padding: 20px 30px;
    overflow-y: scroll;
    height: calc(100vh - 101px);
    position: relative;
}

.stationWithBicycles {
    background: green;
}

.sideHeader {
    height: 40px;
}