.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.side:first-of-type {
  border-right: 1px solid white;
}