.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
  flex-direction: column
}

.appHeader {
  height: 100px;
  border-bottom: 1px solid white;
}

.appContent {
  display: flex;
  flex: 1;
  position: relative;
}

.side:first-of-type {
  border-right: 1px solid white;
}

.selectedCompany {
  background: red;
}